

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 221, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    border: 1px solid red;
    box-sizing: border-box;
}

